{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block banner-slider %}
<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/banner/b1.jpg' %}" class="d-block w-100" alt="First slide" />
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner/b2.jpg' %}" class="d-block w-100" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner/b3.jpg' %}" class="d-block w-100" alt="Third slide" />
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner/b4.jpg' %}" class="d-block w-100" alt="Fourth slide" />
    </div>
  </div>
</div>
{% endblock banner-slider %}

{% block main-content %}
<div class="container">
    <div class="row">
        <div class="col-12 ">
            <h2 class="text-center mb-4">About Us</h2>
            <p class="fs-5 text-center">This is a public limited company with registered and corporate offices in Pune, Maharashtra, India. Established in 2018, the company commenced production in 2020. We are one of the fastest-growing Public Listed Companies in Pune.</p>
            <hr>
            <h2 class="text-center mt-5 mb-4">Our Mission</h2>
            <p class="fs-5 text-center">Our mission is to embrace the right technology to delight our Customers by empowering the farmer community through our unique 'Relationship Farming' Model. We aim to anticipate, understand, and respond to our Customers' needs by creating high-quality products and making them available through innovative and convenient channels.</p>
        </div>
    </div>
</div>
{% endblock main-content %}
