<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <!-- <div class="line" style="width:50% display: inline;" > -->
        
        <div class="abc" style="border-style:double  ; height: 30%;width: 25%; display: inline-block;">
            <div class="product-image">
                <img src="product-image.jpg" alt="Product Image">
            </div>
            <h1>Product Name</h1>

            <div class="product-details">

                <p>99.99
                    <input type="number" min="1" value="1">
                </p>

                <button>Add to Cart</button>
            </div>
        </div>
        <div class="abc" style="border-style:double ; height: 30%;width: 25%; display: inline-block;">
            <div class="product-image">
                <img src="product-image.jpg" alt="Product Image">
            </div>
            <h1>Product Name</h1>

            <div class="product-details">

                <p>99.99
                    <input type="number" min="1" value="1">
                </p>

                <button>Add to Cart</button>
            </div>
        </div>

    </div>
        <div class="abc" style="border-style:double  ; height: 30%;width: 25%; display: inline-block;">
        <div class="product-image">
            <img src="product-image.jpg" alt="Product Image">
        </div>
        <h1>Product Name</h1>

        <div class="product-details">

            <p>99.99
                <input type="number" min="1" value="1">
            </p>

            <button>Add to Cart</button>
        </div>
    </div>
        <div class="abc" style="border-style:double  ; height: 30%;width: 25%; display: inline-block;">
        <div class="product-image">
            <img src="product-image.jpg" alt="Product Image">
        </div>
        <h1>Product Name</h1>

        <div class="product-details">

            <p>99.99
                <input type="number" min="1" value="1">
            </p>

            <button>Add to Cart</button>
        </div>
    </div>
        <div class="abc" style="border-style:double  ; height: 30%;width: 25%; display: inline-block;">
        <div class="product-image">
            <img src="product-image.jpg" alt="Product Image">
        </div>
        <h1>Product Name</h1>

        <div class="product-details">

            <p>99.99
                <input type="number" min="1" value="1">
            </p>

            <button>Add to Cart</button>
        </div>
    </div>
</body>

</html>